<div data-role="page">
    <div data-role="header">
        <h1>FightDex</h1>
    </div>
    <div data-role="content">
        <% @games.each do |game| %>
            <h2><%= game.name %></h2>
            <p><%= game.publisher %></p>
            <img src="<%= game.url %>">
        <% end %>        
    </div>
    <div data-role="footer">
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-arrow-l ui-btn-icon-left"></a>
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-arrow-r ui-btn-icon-left"></a>
    </div>
</div>